Port 62222
#ListenAddress 0.0.0.0

Protocol 2
AllowTcpForwarding yes
RSAAuthentication yes
AuthorizedKeysFile /home/developer/.ssh/authorized_keys
#SyslogFacility AUTHPRIV
ChallengeResponseAuthentication no

Compression no
GatewayPorts yes
LogLevel VERBOSE
LoginGraceTime 50s
PermitRootLogin yes
MaxAuthTries 6
MaxStartups 10
PasswordAuthentication no
PermitUserEnvironment yes
PidFile /var/run/sshd.pid
PrintLastLog yes
PrintMotd no
PubkeyAuthentication yes
StrictModes yes

#Subsystem	sftp	/usr/libexec/openssh/sftp-server
TCPKeepAlive yes
UseDNS yes
UseLogin no
UsePrivilegeSeparation yes
X11DisplayOffset 10
X11Forwarding yes
X11UseLocalhost no

#AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
#AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
#AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
#AcceptEnv XMODIFIERS
PermitTunnel yes
